body {
    margin: 0;
    font-family: 'Mukta', sans-serif;
    color: white;
}

header {
    background-color: #0077b6;
    display: flex;
    align-items: flex-start;
    top: 0%;
    width: 100%;
}

header .image {
    padding: 5px;
}

header .content {
    flex: 1;
    padding: 5px;
}

.icon {
    width: 50px;
    margin: 20px;
}

.figuras {
    background-image: linear-gradient(#0077b6,#00b4d8) ;
    display: flex;
    flex-direction: column;
}

.figuras p, .figuras form {
    margin: 5px 10px 5px 10px;
}

.input {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    color: white;
}

.input:hover {
    border: 0px;
    border-bottom: 1px solid white;
}

.input::placeholder {
    color: white;
}

.button {
    background: #0077b6;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.button:hover {
    background: #00b4d8;
}

footer {
    background-color: #00b4d8;
    display: flex;
    flex-direction: column;
}

footer p {
    text-align: center;
}